* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
.intro {
  background: #eaf0f1;
}
h1 {
  color: #4c4b4b;
  font-weight: bold;
  transition: 0.5s;
}
h3 {
  color: #2f363f;
}
button {
  border: none;
  border-radius: 8px;
  padding: 10px;
  background: #7b8788;
  color: white;
  letter-spacing: 1.5px;
  font-size: 15px;
  transition: 0.5s;
}
button:hover,
h1:hover {
  transform: scale(1.1);
}
button:hover {
  background-color: #4c4b4b;
}
@media only screen and (orientation: portrait) {
  .intro {
    display: flex;
    flex-direction: column-reverse;
  }
  h1 {
    font-size: 30px;
  }
  .act {
    padding-bottom: 100px;
  }
  .column,
  input[type="submit"] {
    width: 100%;
    margin-top: 0;
  }
}
